// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588s-evb4-lp4x-youyeetoo-r1.dtsi"
#include "rk3588-linux.dtsi"

/ {
	model = "Youyeetoo R1";
	compatible = "youyeetoo,r1", "rockchip,rk3588";
};
